<form [formGroup]="userForm" *ngIf="!!userForm" (ngSubmit)="submitForm()" novalidate>

  <ion-item lines="full">
    <ion-label position="floating">First Name</ion-label>
    <ion-input formControlName="firstName" type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Last Name</ion-label>
    <ion-input formControlName="lastName" type="text" required></ion-input>
  </ion-item>


  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" type="email" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">DOB</ion-label>
    <br/>
    <ion-datetime presentation="date" [value]="userForm.get('dob').value"  formControlName="dob" [max]="maxDate"></ion-datetime>
  </ion-item>
  

  <ion-item lines="full">
    <ion-label position="floating">Escolaridade</ion-label>
    <ion-select interface="action-sheet" placeholder="Escolaridade" formControlName="educationId" [compareWith]="compareWith">
      <ion-select-option *ngFor="let education of (educationsList$ | async)" [value]="education.id">{{ education.description }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
    </ion-col>
  </ion-row>

</form>